*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    border: none;
    outline: none;
    text-decoration: none;
}

.header {
    height: 65px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 2px solid #318fb5;
}

.header-logo {
    width: 60px;
    height: 40px;
    background-image: url('okane-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-icons {
    font-size: 1.8em;
    margin: 10px 5px;
}

.header-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-icons-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #318fb5;
    padding: 0 3px;
    transition: all 0.2s;
}

.header-icons-holder p {
    display: none;
}

.header-list a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.header-icons-holder:hover {
    color: #318fb5;
    transform: scale(1.1);
}

@media (min-width: 600px) {
    .header-icons-holder p {
        display: block;
    }

    .header-icons-holder {
        color: #b0cac7;
    }

    .header-icons-holder {
        padding: 0 10px;
    }
}