*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 60px;
    width: 100%;
    padding: 10px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
    font-size: 15px;
}

.header-mobile {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 20;
}

.header-mobile-icons {
    font-size: 1.5em;
}

.header-mobile-icons:hover {
    box-shadow: 0px 0px 10px #18A0FB;
}


.header-list-mobile {
    list-style-type: none;
    display: none;
    background-color: white;

}

.header-list-mobile li {
    padding: 10px 30px 10px 20px;
    border: 1px solid skyblue;
}

.header-list-mobile li:hover {
    background-color: #18A0FB;
    color: whitesmoke;
}


.header-mobile:focus > .header-list-mobile  {
    display: block;
}

/* ////////////////////////////////////////////////////////////////// */

.header-logo {
    width: 60px;
    height: 40px;
    background-image: url('okane-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    display: none;
}

.header-list {
    list-style-type: none;
    float: left;
    display: none;
}

.header-list li {
    display: inline-block;
    padding: 10px;
}

.header-list li:hover {
    cursor: pointer;
    background-color: #18A0FB;
    color: whitesmoke;
    border-bottom: 2px solid gray;
}

.header-register {
    cursor: pointer;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #18A0FB;
    color: whitesmoke;
    float: right;
    padding: 5px 10px;
    margin: 0 10px;
}

.header-login {
    cursor: pointer;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: white;
    color: #18A0FB;
    float: right;
    padding: 5px 10px;
    margin: 0 10px;
}

@media (min-device-width: 768px){
    .header-logo {
        display: inherit;
    }
    
    .header-list {
        display: inherit;
    }

    .header-mobile {
        display: none;
    }

}