*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 60px;
    width: 100%;
    padding: 10px;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
    font-size: 15px;

}

.header-logo {
    width: 60px;
    height: 40px;
    background-image: url('okane-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.header-list {
    list-style-type: none;
    float: left;
}

.header-list li {
    display: inline-block;
    padding: 10px;
}

.header-register {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #18A0FB;
    color: whitesmoke;
    float: right;
    padding: 5px 10px;
    margin: 0 10px;
}

.header-login {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #18A0FB;
    color: whitesmoke;
    float: right;
    padding: 5px 10px;
    margin: 0 10px;
}