.pipg-cont {
    max-width: 900px;
    margin: 6em auto 0 auto;
    padding: 1em;
}

.pipg-holder {
    margin:1em auto;
    max-width: 400px;
}

.pipg-pie {
    width: 100%;
    height: 100%;
}

.pipg-sum2 {
    display: grid;
    justify-items: center;
    grid-gap: 1em;
    font-size: smaller;
}

@media (min-device-width: 600px){
    .pipg-sum2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-device-width: 900px){
    .pipg-sum2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}