.dash-container {
    margin: 1em, 1em;
    padding: 1em;
    box-sizing: border-box;
}

.dash-lngr {
    width: 100%;
    height: 300px;
    background-color:skyblue;
}

.dash-sum {
    width: 100%;
    height: 300px;
    background-color:lightcoral;
}

.dash-categ {
    width: 100%;
    height: 300px;
    background-color:lightgreen;
}

.dash-latest-trans {
    width: 100%;
    height: 300px;
    background-color:lightpink;
}
