.dash-container {
    height: 1200px;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
    font-size: small;

    /* grid-template-areas: 
    'graph graph latran'
    'graph graph latran'
    'expsum categ latran'
    'expsum categ latran'; */

    grid-template-areas:
    'graph graph graph'
    'expsum expsum expsum'
    'categ categ categ'
    'latran latran latran'
    ;

}

.dash-lngr {
    width: 100%;
    /* height: 300px; */
    /* grid-column: 1 / 4; */
    /* grid-column-end: span 2; */
    /* height: 300px; */
    grid-area: graph;
    padding: 1em;
    /* background-color:skyblue; */
}

.dash-sum {
    grid-area: expsum;
    padding: 1em;
    /* background-color:lightcoral; */
    border: 1px solid lightcoral;
    border-radius: 10px;
}

.dash-categ {
    grid-area: categ;
    padding: 1em;
    /* background-color:lightgreen; */
    overflow: scroll;
    border: 1px solid lightgreen;
    border-radius: 10px;

    display: grid;
    justify-items: center;
    /* justify-content: center; */
}

.dash-latest-trans {
    grid-area: latran;
    padding: 1em;
    overflow: scroll;
    border: 1px solid lightpink;
    border-radius: 10px;
    
    display: grid;
    justify-items: center;
    /* background-color:lightpink; */
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
  }

th, td {
    padding: 0.2em 0.5em;
}

th {
    /* min-width: 20%; */
    text-align: center;
    background-color: rgba(173, 216, 230, 0.469);
}

td {
    text-align: right;
}

.td-name {
    min-width: 40%;
    text-align: left;
}