.dash-container {
    height: 1200px;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 300px 300px;
    grid-gap: 1rem;
    font-size: small;
    border: 1px solid tomato;
    max-width: 1100px;
    margin: 0 auto;

    /* grid-template-areas: 
    'graph graph latran'
    'graph graph latran'
    'expsum categ latran'
    'expsum categ latran'; */

    grid-template-areas:
    'graph graph graph'
    'expsum expsum expsum'
    'categ categ categ'
    'latran latran latran'
    ;

}

.dash-lngr {
    width: 100%;
    /* height: 300px; */
    /* grid-column: 1 / 4; */
    /* grid-column-end: span 2; */
    /* height: 300px; */
    grid-area: graph;
    padding: 1em;
    /* background-color:skyblue; */
    border: 1px solid skyblue;
}

.dash-sum {
    grid-area: expsum;
    padding: 1em;
    /* background-color:lightcoral; */
    border: 1px solid lightcoral;
    border-radius: 10px;
}

.dash-categ {
    grid-area: categ;
    padding: 1em;
    /* background-color:lightgreen; */
    border: 1px solid lightgreen;
    border-radius: 10px;

    display: grid;
    /* justify-items: center; */
    overflow: scroll;
}


.dash-latest-trans {
    grid-area: latran;
    padding: 1em;
    overflow: scroll;
    border: 1px solid lightpink;
    border-radius: 10px;
    
    display: grid;
    justify-items: center;
    /* background-color:lightpink; */
}

@media (min-device-width: 700px){
    .dash-container {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 300px 300px 300px;
    
        grid-template-areas:
        'graph expsum'
        'categ categ'
        'latran latran'
        ;
    
    }

    .dash-categ2 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

}

@media (min-device-width: 1000px){
    .dash-container {
        grid-template-columns: 0.3fr 1fr 0.5fr; 
        grid-template-rows: 1fr auto 1fr;
    
        grid-template-areas:
        'sidebar graph categ'
        'sidebar expsum categ'
        'sidebar latran categ';
    }

    .dash-categ2 {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .dash-sum2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
}