.dash-container {
    height: 1200px;
    padding: 6em 1em 0 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 300px 300px;
    grid-gap: 1rem;
    font-size: small;
    /* border: 1px solid tomato; */
    max-width: 1100px;
    margin: 0 auto;

    grid-template-areas:
    'graph graph graph'
    'expsum expsum expsum'
    'categ categ categ'
    'latran latran latran'
    ;

}

.dash-lngr {
    /* max-height: 300px; */
    width: 100%;
    /* height: 300px; */
    /* grid-column: 1 / 4; */
    /* grid-column-end: span 2; */
    /* max-height: 400px; */
    /* max-width: 400px; */
    grid-area: graph;
    padding: 1em;
    /* background-color:skyblue; */
    border: 1px solid skyblue;
    box-shadow: 4px 4px 0px #318fb5;

    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 10px;

}

.dash-sum {
    grid-area: expsum;
    padding: 1em;
    /* background-color:lightcoral; */
    /* border: 1px solid lightcoral; */
    border: 1px solid skyblue;
    box-shadow: 4px 4px 0px #318fb5;


    border-radius: 10px;
}

.dash-sum2 {
    display: grid;
    justify-items: center;
    grid-gap: 1em;
}

.dash-categ {
    grid-area: categ;
    padding: 1em;
    /* background-color:lightgreen; */
    /* border: 1px solid lightgreen; */
    border: 1px solid skyblue;
    box-shadow: 4px 4px 0px #318fb5;


    border-radius: 10px;

    /* display: grid;
    justify-items: center; */
    overflow: scroll;
}

.dash-categ2 {
    display: grid;
    justify-items: center;
    grid-gap: 1em;
}


.dash-latest {
    grid-area: latran;
    /* width: 100%; */
    padding: 1em;
    overflow: scroll;
    /* border: 1px solid lightpink; */
    border: 1px solid skyblue;
    box-shadow: 4px 4px 0px #318fb5;


    border-radius: 10px;
    /* max-height: 300px; */
    
    /* background-color:lightpink; */
    /* display: grid;
    justify-items: center; */
}

.dash-latest-trans {
    display: grid;
    justify-items: center;
    grid-gap: 1em;
}



@media (min-device-width: 700px){
    .dash-container {
        grid-template-columns: 1fr 0.7fr; 
        grid-template-rows: auto auto auto;
        
        grid-template-areas:
        'graph expsum'
        'categ categ'
        'latran latran'
        ;
    }
    
    .dash-categ2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .dash-latest-trans {
        grid-template-columns: 1fr 1fr;
    }
    
}


@media (min-device-width: 1000px){
    .dash-container {
        grid-template-columns: 1fr 0.5fr; 
        grid-template-rows: auto auto auto;
        
        grid-template-areas:
        'graph categ'
        'expsum categ'
        'latran categ'
        ;
    }

    .dash-sum2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .dash-categ2 {
        grid-template-columns: 1fr;
    }
    
    .dash-latest-trans {
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-rows: 1fr 1fr;
    }
}

